<!DOCTYPE html>

<html>
    <head>
        <title>Vista de Modelo</title>
    </head>
    <body>
        <h1>Menú Principal</h1>
        <p>Elige una opción:</p>
        <ul>
            <li><a href="{% url 'listaProductos' %}">Ver Lista de Productos</a></li>
            <li><a href="{% url 'listaDetalleProducto' %}">Ver Lista de detalles de Producto</a></li>
            <li><a href="{% url 'listaRevista' %}">Ver Lista de Revista</a></li>
            <li><a href="{% url 'listaDetalleRevista' %}">Ver Lista de detalles de Revista</a></li>
            <li><a href="{% url 'listaEditorial' %}">Ver lista de Editorial</a></li>
            <li><a href="{% url 'listaDetalleEditorial' %}">Ver lista de Detalles de Editorial</a></li>
        </ul>
    </body>
</html>